<template>

    <Layout>
        <el-row>
            <h1>Nuevo Usuario</h1>
        </el-row>

        <el-card shadow="never">
            <el-form ref="form" :model="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <input type="text" v-model="form.username"></input>
                </el-form-item>

                <el-form-item label="Contrasena" prop="password">
                    <input type="password" v-model="form.password"></input>
                </el-form-item>

                <el-form-item label="Confirmas Contrasena" prop="checkPass">
                    <input type="password" v-model="form.checkPass"></input>
                </el-form-item>

                <el-form-item style="text-align: right;">
                    <el-button type="primry" @click="submit">Guardar</el-button>
                </el-form-item>
            </el-form>
        </el-card>

    </Layout>

</template>
<script>

    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },

        data() {
            return {
                form: {
                    username: '',
                    password: '',
                    checkPass: ''

                },
                rules: {
                    username: {required: true, message: 'El usuario es requerido'},
                    password: {required: true, message: 'La contrasena es requerido'},
                    checkPass: {required: true, message: 'Deben confirmar la contrasena'},
                }
            }
        },

        methods: {
            submit() {
                if (this.form.password === this.form.checkPass) {
                    this.$refs.form.validate(() => {
                        this.$inertia.post('/users' , {
                            username: this.form.username,
                            password: this.form.password
                        })
                    });
                } else {
                    this.$message({
                        message: 'Las contrasenas no concuerdan',
                        type: 'error'
                    })
                }
            }
        },

        mounted() {

        }
    }
</script>
