<template>
    <layout>
        <div>
            <h1>Dash</h1>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";


    export default {
        components: {
            Layout,
        },
    }
</script>
