<template>
    <div>

        <el-card class="login" shadow="never">
            <el-form :model="form" ref="form" :rules="rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input placeholder="Usuario" v-model="form.username"></el-input>
                </el-form-item>

                <el-form-item label="Contrasena" prop="password">
                    <el-input placeholder="Contrasena" show-password v-model="form.password"></el-input>
                </el-form-item>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert :closable="false" type="error" title="Ha sucedido un error"></el-alert>
                    </div>
                </div>

                <div style="text-align: center; padding-top: 10px">
                    <el-button type="primary" @click="submit()"> Entrar </el-button>
                </div>

            </el-form>
        </el-card>

        {{$page.prop.errors}}


        <!--<el-input style="width: 50%" type="textarea" v-model="data"/>
        {{data}}

        <el-divider></el-divider>

        <vue-editor style="background-color: white" v-model="contenido"></vue-editor>
        {{contenido}}-->

        <!--        <avatar username="Rafael dlps"></avatar>-->

        <!--        <v-swatches v-model="color" inline></v-swatches>-->

        <!--<carousel :per-page="2">
            <slide v-for="url in urls">
                <el-image :src="url" />
            </slide>
        </carousel>-->


    </div>
</template>
<script>

    import {VueEditor} from "vue2-editor";
    import Avatar from 'vue-avatar'
    import VSwatches from 'vue-swatches'
    import 'vue-swatches/dist/vue-swatches.css'
    import {Carousel, Slide} from 'vue-carousel';


    export default {
        components: {
            VueEditor,
            Avatar,
            VSwatches,
            Carousel,
            Slide
        },
        data() {
            return {

                data: '',
                contenido: '',
                color: '#A463BF',

                urls: [
                    'https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg',
                    'https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg',
                    'https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg',
                    'https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg',
                    'https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg',
                    'https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg',
                    'https://fuss10.elemecdn.com/2/11/6535bcfb26e4c79b48ddde44f4b6fjpeg.jpeg'
                ],

                form: {
                    username: '',
                    password: ''
                },
                rules: {
                    username: {required: true, message: 'El usuario es requerido', trigger: 'blur'},
                    password: {required: true, message: 'La contrasena es requerida', trigger: 'blur'},
                }
            }
        },
        methods: {
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$inertia.post('/login', {
                            username: this.form.username,
                            password: this.form.password
                        });
                    }
                });
            }
        },
    }
</script>
